body {
    background: #b4eeca;
    font-family: Tahoma, Arial, sans-serif;
}

h1 {
    color: blueviolet;
    font: 32px Garamond, Helvetica, serif;
}

table {
    width: 50%;
    border-style: dashed,
border-color: red;

}

thead {
    text-align: left;
    color: green;
    font-size: 60px;
}

label {
    display: block;
    opacity: 10%;
}

#submit-btn {
    display: inline-block;
}